.tutti {
  padding: 10px 0px;
  margin-left: 0px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  background-color: #FBFCFC;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.1s;
}
.tutti:hover {
  color: rgba(0,110,255,1);
  text-decoration: underline;
}
.tutti:active {
  color: black;
}



.prodotti {
  /* background: red; */
  width: 75%;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
}

.prodotti-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0;
}

.button-tipo-prodotti {
  padding: 10px 0px;
  margin-left: 0px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border-top: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  text-align: center;
}
.button-tipo-prodotti:hover {
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
}
.button-tipo-prodotti:active {
  transition: 0s;
  background-color: rgba(0,110,255,0.5);
  text-decoration: none;
}

.prodotti-li {
  border: none;
  display: block;
  float: left;
  list-style: none;
  height: auto;
  background: white;
  box-sizing: border-box;
  width: 350px;
  margin: 20px 10px 20px 10px;
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.8),
              0 8px 20px 0 rgba(0, 0, 0, 0.79);
}
.prodotti-li:hover{
  border: none;
  transform: scale(1.05);
}

.bottom{
  border: none;
  bottom: 0;
  width: 100%;
  height: auto;
  background: rgb(24,25,28);
  text-align: left;
  vertical-align: middle;
  color: white;
  margin-top: -4px;
  padding: 5px 0px;
  cursor: auto;
}

.bottom-content {
  margin: 0px 5px;
}
.bottom-content p {
  color: #bbbbbb;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
}

.bottom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.bottom-title h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-right: auto;
  font-style: italic;
}
.bottom-title h2 span {
  text-transform: lowercase;
  color: #BBB;
  font-size: 15px;
  font-weight: normal;
  margin-right: auto;
  font-style: normal;
}
.bottom-title span{
  font-size: 20px;
  font-weight: bold;
}

.container-prodotti {
  width: 100%;
}

.img-product {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.overlay-prodotti {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(24,25,28,0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  top: 0px;
  transition: 0s;
  cursor: auto;
}

.container-prodotti:hover .overlay-prodotti {
  bottom: 0;
  height: 100%;
  transition: 0.2s ease;
}

.text-overlay-prodotti {
  position: absolute;
  color: white;
  width: 100%;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.text-overlay-prodotti label {
  text-decoration: underline;
}

.btn-visualizza-prodotto {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-left: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  /* padding: 10px; */
}
.btn-visualizza-prodotto-a {
  color: black;
  font-weight: bold;
  display: block;
  background: #FBFCFC;
  text-align: center;
  padding: 21px;
  transition: .25s ease;
}
.btn-visualizza-prodotto-a:hover {
  background: rgb(0,110,255);
  color: white;
}
.btn-visualizza-prodotto-a:active{
  background-color: #FBFCFC;
  color: black;
  transition: 0s;
}

.text-overlay-prodotti li {
  min-width: 35px;
  width: auto;
  height: auto;
  border: none;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 40px;
  background: white;
  cursor: auto;
}
.text-overlay-prodotti li p{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.colors li {
  width: 35px;
  height: 35px;
}
.colors li:nth-child(1) {
}

.over-img {
  position: absolute;
  top: 0;
  padding: 10px;
}

.over-img button {
  position: relative;
  padding: 5px 10px;
  background-color: #FBFCFC;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
  color: black;
  border: none;
  cursor: context-menu;
  outline: none;
  text-align: center;
  vertical-align: middle;
}



.cerca {
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
}

.cerca-container input[type=text] {
  padding: 1rem;
  font-size: 16px;
  width: 80%;
  border: none;
  float: left;
  background: #FBFCFC;
  outline: none;
}

.cerca-container button {
  float: left;
  padding: 1rem 0;
  font-size: 16px;
  width: 20%;
  color: white;
  border: none;
  border-left: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
.btn-cerca {
  background: rgba(0,110,255,1);
}
.btn-cerca:hover {
  filter: brightness(75%);
}
.cerca-container button:active {
  filter: brightness(100%);
  transition: 0s;
}



.container-option {
  /* background: red; */
  width: 100%;
  padding: 20px 0px 0px 0px;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-option-ordina-opzioni {
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.container-option-ordina-opzioni details {
  margin-right: 1rem;
}

.container-option details {
	width: 240px;
  /* margin: 0px 10px; */
}

.container-option details[open] {
  position: relative;
	z-index: 1;
}

.container-option summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 0px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	display: block;
	width: 100%;
	height: 100%;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary::after {
  content: '\25BC';
  float: right;
  top: 0;
  right: 0;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

summary:focus {
	outline: none;
}

details[open] summary:after {
  transform: rotate(90deg);
}

.container-option ul {
	width: 100%;
	background: #dddddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
  overflow: hidden;
	margin: 0;
	box-sizing: border-box;
	border-radius: 0px;
	max-height: 225px;
	overflow-y: auto;
  list-style: none;
  text-align: center;
}

.container-option li {
	margin: 0;
	border-bottom: 1px solid #ccc;
  color: black;
}

.container-option li:first-child {
	padding-top: 0;
}

.container-option li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.container-option li button {
  display: flex;
  align-items: center;
  background: #ddd;
  text-align: left;
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 1rem 10px;
  transition: 0.25s;
  text-transform: capitalize;
}
.container-option li :hover {
  background: #FBFCFC;
}
.container-option li button:hover {
  padding-left: 25px;
}

.container-option ::-webkit-scrollbar{
  background: #ddd;
  width: 7.5px;
}
.container-option ::-webkit-scrollbar-thumb{
  background: rgb(145,145,145);
}

.prezzo-container {
  position: relative;
  padding: 1rem;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.prezzo-container input::-webkit-outer-spin-button,
.prezzo-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.prezzo-container input {
  width: 100%;
  outline: none;
  border: none;
}

.container-max-prezzo {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.container-max-prezzo p {
  font-size: 16px;
  margin-right: 5px;
  margin-top: 2px;
}

.container-max-prezzo textarea {
  height: 100%;
  border: 1px solid rgb(145,145,145);;
  text-align: center;
  resize: none;
  outline: none;
  font-size: 16px;
  padding: 2.5px;
  white-space: nowrap;
  overflow: hidden;
}

.empty-prodotti {
  text-align: center;
  background: #FBFCFC;
  padding: 25px;
  color: black;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 50%), 0 8px 20px 0 rgb(0 0 0 / 49%);
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}
.empty-prodotti p {
    text-align: center;
    font-size: 24px;
}

.color-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin-left: auto;
}

@media screen and (max-width: 1400px) {
  .prodotti {
    width: 100%;
  }
}
