* {
  box-sizing: border-box;
}

.checkout-page {
  /* background: red; */
  width: 100%;
  height: 100%;
}

.container-checkout {
  /* background: green; */
  width: 75%;
  height: 100%;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.container-checkout2 {
  /* background: green; */
  width: 50%;
  height: 100%;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.container-checkout-margin {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row-checkout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 100%;
  flex: 100%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #FBFCFC;
  padding: 20px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.8),
              0 8px 20px 0 rgba(0, 0, 0, 0.79);
}
.container20 {
  background-color: #FBFCFC;
  padding: 20px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.8),
              0 8px 20px 0 rgba(0, 0, 0, 0.79);
}
.container-cart {
  background-color: #FBFCFC;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.8),
              0 8px 20px 0 rgba(0, 0, 0, 0.79);
}

.container-nome-cognome {
  display: flex;
  justify-content: start;
}
.margin-input {
  margin-right: 20px;
}

.container input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: none;
}
.container input[type=text]:valid {
  background: #ebebeb;
}
.container input[type=number] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: none;
}
.container input[type=number]:valid {
  background: #ebebeb;
}
.container input[type=number]::-webkit-outer-spin-button,
.container input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container input[type=number] {
  -moz-appearance: textfield;
}

.text-coupon {
  height: 100%;
  border: 1px solid rgb(145,145,145);
  text-align: center;
  resize: none;
  outline: none;
  font-size: 16px;
  padding: 2.5px;
  white-space: nowrap;
  overflow: hidden;
}

select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
select:valid {
  background: #ebebeb;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 28px;
}

.btn-checkout {
  padding: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FBFCFC;
  text-decoration: none;
  background-color: rgba(0,110,255,1);
  border: none;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(0,110,255,1);
}
.btn-checkout:hover {
  background-color: rgb(255,255,255);
  color: black;
  transition: 0.2s;
}
.btn-checkout:active {
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
  transition: 0s;
}

.container-checkout h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.carrello-checkout {
  margin-bottom: 10px;
  max-height: 300px;
  overflow-y: scroll;
}
.carrello-checkout::-webkit-scrollbar{
  background: none;
  width: 5px;
}
.carrello-checkout::-webkit-scrollbar-thumb{
  background: rgba(128,128,128,0.75);
  border-radius: 100px;
}

hr {
  margin: 0 20px;
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

h4 {
  padding: 20px;
}

h5 {
  padding: 20px;
  font-size: 16px;
  font-weight: normal;
}

.text-prodotto-checkout {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  padding-left: 20px;
  padding-right: 12.5px;
  text-transform: capitalize;
  font-size: 16px;
}
.text-prodotto-checkout a {
  margin-right: auto;
  color: #2196F3;
}
.text-prodotto-checkout span {
  color: grey;
}

.btn-metodoP {
  padding: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FBFCFC;
  text-decoration: none;
  background-color: rgba(0,110,255,1);
  border: none;
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(0,110,255,1);
}
.btn-metodoP:hover {
  background-color: rgb(255,255,255);
  color: black;
  transition: 0.2s;
}
.btn-metodoP:active {
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
  transition: 0s;
}

.container-metodiP {
  margin-bottom: 15px;
}
.metodiP {
  border-radius: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.input-costo-spesa {
  display: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #808080;
  background: none;
  border: none;
  cursor: context-menu;
  outline: none;
}

@media (max-width: 1550px) {
  .container-checkout {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .row-checkout {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}



.acquisto-effettuato {
  background: #FBFCFC;
  color: black;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 8px 25px 2px rgba(0, 0, 0, 0.8),
              0 8px 25px 2px rgba(0, 0, 0, 0.79);
  text-align: center;
}

.acquisto-effettuato h1 {
  font-size: 32px;
}
.acquisto-effettuato h2 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 24px;
  text-decoration: underline;
}
.acquisto-effettuato p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.acquisto-effettuato button {
  padding: 10px 25px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #FBFCFC;
  text-decoration: none;
  background-color: rgba(0,110,255,1);
  border: 2px solid rgba(0,110,255,1);
  cursor: pointer;
  outline: none;
}
.acquisto-effettuato button:hover {
  background-color: rgb(255,255,255);
  color: black;
  transition: 0.2s;
  border: 2px solid rgba(0,110,255,1);
}
.acquisto-effettuato button:active {
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
  transition: 0s;
}

.errore-coupon {
  color: red;
}

.padding-resize {
  padding: 0 20px;
}
