.container-acquisti {
  width: 100%;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.div-acquisti {
  /* background: red; */
}

.div-acquisti ul {
  list-style: none;
  padding: 0 50px;
}

.div-acquisti li {
  margin-bottom: 20px;
  padding: 10px;
  background: #FBFCFC;
  color: black;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5),
              0 8px 20px 0 rgba(0, 0, 0, 0.49);
}

.btn-noprodottiA {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #FBFCFC;
  text-decoration: none;
  background-color: rgba(0,110,255,1);
  border: 2px solid rgba(0,110,255,1);
  cursor: pointer;
  outline: none;
}
.btn-noprodottiA:hover {
  background-color: rgb(255,255,255);
  color: black;
  transition: 0.2s;
  border: 2px solid rgba(0,110,255,1);
}
.btn-noprodottiA:active{
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
  transition: 0s;
}

.img-acquisto {
  display: flex;
  align-items: center;
}

.img-acquisto img {
  display: block;
  float: left;
  max-height: 200px;
  margin-right: 20px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2),
              0 8px 10px 0 rgba(0, 0, 0, 0.19);
}

.c-info-acquisto {
  display: flex;
  align-items: center;
  width: 100%;
}
.container-info-acquisto {
  /* background: red; */
}

.container-info-acquisto h5 {
  font-size: 16px;
  color: #7d7d7d;
  font-weight: normal;
  font-style: italic;
}
.container-info-acquisto h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}
.container-info-acquisto h2 {
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
}
.container-info-acquisto h3 {
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
}
.container-info-acquisto h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
}
.container-info-acquisto h6 {
  font-size: 16px;
  font-weight: normal;
}
.container-info-acquisto p {
  font-size: 16px;
  font-weight: normal;
}

.btn-dettagli-ordine {
  padding: 5px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  color: #FBFCFC;
  text-decoration: none;
  background-color: rgba(0,110,255,1);
  border: 2px solid rgba(0,110,255,1);
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}
.btn-dettagli-ordine:hover {
  background-color: rgb(255,255,255);
  color: black;
  transition: 0.2s;
  border: 2px solid rgba(0,110,255,1);
}
.btn-dettagli-ordine:active{
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
  transition: 0s;
}



.container-info-acquisto p span {
  font-weight: bold;
  color: rgba(0,110,255,1);
  text-decoration: underline;
}

.buttons-acquisto {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-left: 1px solid #7d7d7d;
}

.container-buttons-acquisto {
  /* background: green; */
  text-align: center;
}

.margin-buttons-acquisto {
  margin-bottom: 20px;
}

.buttons-acquisto button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #FBFCFC;
  text-decoration: none;
  background-color: rgba(0,110,255,1);
  border: 2px solid rgba(0,110,255,1);
  cursor: pointer;
  outline: none;
}
.buttons-acquisto button:hover {
  background-color: rgb(255,255,255);
  color: black;
  transition: 0.2s;
  border: 2px solid rgba(0,110,255,1);
}
.buttons-acquisto button:active{
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
  transition: 0s;
}



.anno-mese-container {
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.anno-mese-container p {
  margin: 0 10px;
}

.anno-mese-container select, .anno-mese-container p {
  font-size: 16px;
}

.btn-resetta-filtri-acquisti {
  padding: 14px 25px;
  font-size: 16px;
  font-weight: bold;
  color: #FBFCFC;
  text-decoration: none;
  background-color: rgba(0,110,255,1);
  border: 2px solid rgba(0,110,255,1);
  cursor: pointer;
  outline: none;
}
.btn-resetta-filtri-acquisti:hover {
  background-color: rgb(255,255,255);
  color: black;
  transition: 0.2s;
  border: 2px solid rgba(0,110,255,1);
}
.btn-resetta-filtri-acquisti:active{
  background-color: rgba(0,110,255,1);
  color: #FBFCFC;
  transition: 0s;
}


.dettagliOrdine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 700px) {
  .dettagliOrdine {
    width: 100%;
    left: 0;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%, -50%);
    padding: 0 20px;
  }
}

.container-dettagliOrdine {
  background: #FBFCFC;
  color: black;
  padding: 25px;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 80%), 0 8px 20px 0 rgb(0 0 0 / 79%);
}
.container-dettagliOrdine hr {
  border-top: 1px solid #8c8b8b;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.container-dettagliOrdine h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.container-dettagliOrdine h2 {
  font-size: 16px;
  font-weight: normal;
}
.container-dettagliOrdine h3 {
  font-size: 18px;
  font-weight: bold;
}

.text-info-ordine {
  display: flex;
  justify-content: flex-start;
}
.text-IO1 {
  width: 50%;
}
.text-mod-color {
  color: #7d7d7d;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-IO10 {
  margin-right: 10px;
}

.text-btm1 {
  width: 100%;
}

.img-prodotto-dettagli-ordine {
  max-width: 100px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%),
              0 4px 5px 0 rgb(0 0 0 / 19%);
}

.prezzo-ordine {
  font-weight: bold;
  color: rgba(0,110,255,1);
  text-decoration: underline;
}
