* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(24,25,28);
  color: #FBFCFC;
  text-align: center;
  box-sizing: content-box;
}

.header-page button {
  padding: 10px;
  font-size: 16px;
}

.header {
  width: 100%;
  position: flex;
  background: #FBFCFC;
  color: black;
  padding: 10px 0;
}

.orari th {
  text-transform: capitalize;
}
.orari th, .orari td {
  padding: 5px 10px;
  font-size: 16px;
}

table.steelBlueCols {
  border: 4px solid #555555;
  background-color: #555555;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.steelBlueCols td, table.steelBlueCols th {
  border: 1px solid #555555;
  padding: 5px 10px;
}
table.steelBlueCols tbody td {
  font-size: 16px;
  color: white;
}
table.steelBlueCols tr:nth-child(even) {
  background: #398AA4;
}
table.steelBlueCols thead {
  background: #398AA4;
}
table.steelBlueCols thead th {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: left;
  border-left: 2px solid #398AA4;
}
table.steelBlueCols thead th button{
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: left;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
table.steelBlueCols thead th button:hover{
  text-decoration: underline;
}
table.steelBlueCols thead th:first-child {
  border-left: none;
}
table.steelBlueCols td a {
  width: 100%;
}
table.steelBlueCols tfoot {
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: #FFFFFF;
  border-top: 4px solid #555555;
}
table.steelBlueCols tfoot th {
  font-size: 16px;
  text-decoration: underline;
}

.text-a {
  text-align: center;
}

.filtri {
  text-align: left;
}
.filtri p {
  margin-left: 10px;
}
.container-filtri {
  display: flex;
  justify-content: flex-start;
}
.container-filtri table {
  margin-left: 10px;
}
.tabella-filtri td {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #FBFCFC;
}
.tabella-filtri td button{
  width: 100%;
}
.tabella-filtri td input{
  width: 100%;
}
.tabella-filtri td select{
  width: 100%;
}
.tabella-filtri th {
  padding-top: 7px;
}
.btn-resetF {
  margin-left: 10px;
  padding: 25px;
  background: green;
  color: white;
}

.insert-prodotto {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}
.insert-prodotto button {
  padding: 5px 10px;
}
.option-style {
  font-size: 16px;
}

.table-insert1 td {
  padding: 2.5px 5px;
}

.table-insert1 select,
.table-insert1 input,
.table-insert1 textarea {
  width: 100%;
}

.table-insert2 {
  background: red;
}
.table-insert2 th {
  padding: 5px
}

.insert-taglia-container {
  display: flex;
  justify-content: flex-start;
}
.taglia-container2 {
  margin-left: 10px;
}
.taglia-container2 button {
  height: 100px;
}

.utente-container button {
  padding: 10px;
  font-size: 16px;
}

.CF02 {
  margin-left: 10px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
